---

---

<html lang="it">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

        <a href="/">HOME</a>
		<a href="/blog">BLOG</a>
        <a href="/about">Su di me</a>
        
        <h1>EscApe</h1>
        
		<h1>Su di me</h1>
		
        <h2>NO ai social, SI al blog</h2>

        <p>Ho sempre trovato i social spiacevoli, perché presuppongono che ci debba essere non solo uno scambio di idee ma anche un'interazione tra esse</p>
        <p>Sulla carta tutto bellissimo, ma nella realtà X (l'ormai defunto twitter) è la dimostrazione di quanto ci sia di più sbagliato in un modello simile.</p>
        
	</body>
</html>
